
@{
    ViewBag.Title = "SessionTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Session Test</h2>

<p>
    Create Session Test <br />
    TempData Test: @TempData["Test"]; <br />
    Session Test : @Session["Test"]; <br />
</p>

